@page "/dbusers"
@using Microsoft.EntityFrameworkCore
@inject ApplicationDbContext DbContext

<!-- Example DB data page -->

<h3>Users</h3>

@if (parts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>PartNum</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var part in parts)
            {
                <tr>
                    <td>@part.PartNum</td>
                    <td>@part.Name</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<Part> parts = new List<Part>();

    protected override async Task OnInitializedAsync()
    {
        parts = await DbContext.Parts.ToListAsync();
    }
}
