@page "/"

@using PCMount.Components.UI
@using Microsoft.FluentUI.AspNetCore.Components
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Roles = "User")]
@attribute [AllowAnonymous]
<PageTitle>PCMount - Shop</PageTitle>

<FluentToolbar class="py-2 sticky top-0 z-10">
    <FluentSearch Placeholder="Search for Products" />
    <FluentButton IconEnd="@(new Icons.Regular.Size16.Filter())">Filters</FluentButton>
    <FluentSpacer />
    <FluentButton IconStart="@(new Icons.Regular.Size16.Cart())"></FluentButton>
    <AuthorizeView>
        <NotAuthorized>
            <NavLink href="/login" Match="NavLinkMatch.All">
                <FluentButton IconStart="@(new Icons.Regular.Size20.Person())" Appearance="Appearance.Accent">Login</FluentButton>
            </NavLink>
        </NotAuthorized>
        <Authorized>
            <NavLink href="/dashboard" Match="NavLinkMatch.All">
                <FluentButton IconStart="@(new Icons.Regular.Size20.Board())" Appearance="Appearance.Lightweight">Dashboard</FluentButton>
            </NavLink>
        </Authorized>
    </AuthorizeView>
</FluentToolbar>
<div class="p-2">
    <ProductCard Title="Waiting page data request" />
</div>