@page "/"

@using Microsoft.FluentUI.AspNetCore.Components
@rendermode InteractiveServer
<PageTitle>Shop</PageTitle>

<div>
    <AuthorizeView>
        <NotAuthorized>
            <h2>Welcome to PCMount</h2>
            <NavLink href="/login" Match="NavLinkMatch.All">
                <FluentButton IconStart="@(new Icons.Regular.Size20.Person())" Appearance="Appearance.Accent" class="absolute top-2 right-2">Login</FluentButton>
            </NavLink>
        </NotAuthorized>
        <Authorized>
            <h2>Welcome back, <b>@context.User.Identity!.Name</b>.</h2>
            <NavLink href="/dashboard" Match="NavLinkMatch.All">
                <FluentButton IconStart="@(new Icons.Regular.Size20.Board())" Appearance="Appearance.Lightweight" class="absolute top-2 right-2">Dashboard</FluentButton>
            </NavLink>
            <span><a href="/logout" >Click here</a> to logout.</span>
        </Authorized>
    </AuthorizeView>
</div>