@page "/"

@rendermode InteractiveServer

@inject IJSRuntime JS
@inject IHttpClientFactory HttpClientFacory

<PageTitle>Shop</PageTitle>

<div>
    <h2>Welcome <span class="text-danger">to PCMount</span></h2>
    <AuthorizeView>
        <NotAuthorized>
            <span>You are not logged in. Please <a href="/login" >click here</a> to login!</span>
        </NotAuthorized>
        <Authorized>
            <span>You are logged in as <b>@context.User.Identity!.Name</b>. <a href="/logout" >Click here</a> to logout.</span>
        </Authorized>
    </AuthorizeView>
</div>