@namespace PCMount.Components.UI

<div class="relative">
    <img src="@ImageUrl" alt="PC Mounting Step" class="w-full object-cover image-blend" />
    <span class="color-background absolute inset-0" style="background-color: var(--accent-fill-rest);">&nbsp</span>
</div>

@code {
    [Parameter]
    public string? ImageUrl { get; set; }
}

<style scoped>
    .color-background {
        mix-blend-mode: hue;
    }
</style>