@namespace PCMount.Components.UI

@using Microsoft.FluentUI.AspNetCore.Components

<FluentCard MinimalStyle="true" class="relative flex flex-col justify-center items-center text-center gap-2">
    <FluentButton class="absolute top-2 left-2" IconStart="@(new Icons.Regular.Size16.Info())" Appearance="Appearance.Lightweight"></FluentButton>
    <div class="w-36 rounded-md">
        <img src="/assets/product-placeholder.png" class="object-cover w-full h-full rounded-md" />
    </div>
    <h3 class="-mb-2">ProductName</h3>
    <span>Brand - Model</span>
    <FluentBadge Appearance="Appearance.Lightweight">#ProductUID</FluentBadge>
    <div class="flex flex-row gap-2 justify-center items-center text-center">
        <span>Price:</span><FluentBadge Appearance="Appearance.Neutral">$999</FluentBadge>
        <FluentSpacer />
        <!-- TODO: Only show when you have more that one of that product -->
        <span>Cost:</span><FluentBadge Appearance="Appearance.Neutral"><span class="text-red-500">$999</span></FluentBadge>
    </div>
    <div class="w-full flex flex-row gap-1.5 justify-center items-center text-center">
        <FluentButton IconStart="@(new Icons.Regular.Size16.Subtract())" Appearance="Appearance.Neutral"></FluentButton>
        <FluentNumberField @bind-Value="exampleInt" />
        <FluentButton IconStart="@(new Icons.Regular.Size16.Add())" Appearance="Appearance.Neutral"></FluentButton>
    </div>
    <FluentButton class="w-full" IconStart="@(new Icons.Regular.Size16.Cart())" Appearance="Appearance.Accent">Order</FluentButton>
</FluentCard>

@code {
    [Parameter]
    public string Title { get; set; } = "Waiting";

    int exampleInt = 0;
}