@using Microsoft.FluentUI.AspNetCore.Components
@inherits LayoutComponentBase

<div class="relative flex flex-col w-full min-h-screen">
    <NavMenu />
    <main class="overflow-auto w-full h-full p-4 sm:pt-4 pt-14">
        @Body
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

<FluentToastProvider />
<FluentDialogProvider />
<FluentTooltipProvider />
<FluentMessageBarProvider />
<FluentMenuProvider />