@using Microsoft.FluentUI.AspNetCore.Components

<div class="relative w-fit h-screen bg-red-300 p-4">
    <img src="/assets/motormount.png" width="30px"/>
    <FluentStack Orientation="Orientation.Vertical" Width="100%">
        <FluentButton Appearance="Appearance.Lightweight">Lightweight</FluentButton>
        <FluentButton Appearance="Appearance.Lightweight">Lightweight</FluentButton>
    </FluentStack>
</div>

@code
{
    bool Expanded = true;
}